# These files are checked out using LF locally
*.gitattributes eol=lf
.githooks/* eol=lf
.envrc eol=lf

# Git-Crypt
.gitattributes !filter !diff
*.env filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
Settings/.config/spotify-tui/client.yml filter=git-crypt diff=git-crypt
Settings/.ssh/id_*.pub filter=git-crypt diff=git-crypt
bin/XXCOPY.LIC filter=git-crypt diff=git-crypt
fonts/MonoLisa/* filter=git-crypt diff=git-crypt
reg/WordWebPro_settings.reg filter=git-crypt diff=git-crypt
