# All files are checked into the repo with LF
* text=auto

# These files are checked out using CRLF locally
*.md eol=crlf
*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=crlf
*.txt eol=crlf
*.json eol=crlf
*.reg eol=crlf
*.ini eol=crlf
*.cfg eol=crlf

# These files are checked out using LF locally
*.gitattributes eol=lf
.githooks/* eol=lf
.envrc eol=lf

# Git-Crypt
.gitattributes !filter !diff
*.env filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
bin/XXCOPY.LIC filter=git-crypt diff=git-crypt
