<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WindowsDesktop.Properties.Settings>
      <setting name="v_25931_or_later" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>IApplicationView,{372E1D3B-38D3-42E4-A15B-8AB2B178F513}</string>
            <string>IApplicationViewCollection,{1841C6D7-4F9D-42C0-AF41-8747538F10E5} </string>
            <string>IObjectArray,{92CA9DCD-5622-4BBA-A805-5E9F541BD8C9} </string>
            <string>IServiceProvider,{6D5140C1-7436-11CE-8034-00AA006009FA} </string>
            <string>IVirtualDesktop,{3F07F4BE-B107-441A-AF0F-39D82529072C} </string>
            <string>IVirtualDesktop2,{A871910E-6CC0-4E65-8B9B-458CE9115E30} </string>
            <string>IVirtualDesktopManager,{A5CD92FF-29BE-454C-8D04-D82879FB3F1B} </string>
            <string>IVirtualDesktopManagerInternal,{4970BA3D-FD4E-4647-BEA3-D89076EF4B9C} </string>
            <string>IVirtualDesktopManagerInternal2,{A3175F2D-239C-4BD2-8AA0-EEBA8B0B138E} </string>
            <string>IVirtualDesktopNotification,{B287FA1C-7771-471A-A2DF-9B6B21F0D675} </string>
            <string>IVirtualDesktopNotificationService,{0CD45E71-D927-4F15-8B0A-8FEF525337BF} </string>
            <string>IVirtualDesktopPinnedApps,{4CE81583-1E4C-4632-A621-07A53543148F} </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="v_25158_or_later" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>IApplicationView,{372E1D3B-38D3-42E4-A15B-8AB2B178F513}</string>
            <string>IApplicationViewCollection,{1841C6D7-4F9D-42C0-AF41-8747538F10E5} </string>
            <string>IObjectArray,{92CA9DCD-5622-4BBA-A805-5E9F541BD8C9} </string>
            <string>IServiceProvider,{6D5140C1-7436-11CE-8034-00AA006009FA} </string>
            <string>IVirtualDesktop,{536D3495-B208-4CC9-AE26-DE8111275BF8} </string>
            <string>IVirtualDesktopManager,{A5CD92FF-29BE-454C-8D04-D82879FB3F1B} </string>
            <string>IVirtualDesktopManagerInternal,{88846798-1611-4D18-946B-4A67BFF58C1B} </string>
            <string>IVirtualDesktopNotification,{CD403E52-DEED-4C13-B437-B98380F2B1E8} </string>
            <string>IVirtualDesktopNotificationService,{0CD45E71-D927-4F15-8B0A-8FEF525337BF} </string>
            <string>IVirtualDesktopPinnedApps,{4CE81583-1E4C-4632-A621-07A53543148F} </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="v_22468_or_later" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>IApplicationView,{372E1D3B-38D3-42E4-A15B-8AB2B178F513}</string>
            <string>IApplicationViewCollection,{1841C6D7-4F9D-42C0-AF41-8747538F10E5} </string>
            <string>IObjectArray,{92CA9DCD-5622-4BBA-A805-5E9F541BD8C9} </string>
            <string>IServiceProvider,{6D5140C1-7436-11CE-8034-00AA006009FA} </string>
            <string>IVirtualDesktop,{536D3495-B208-4CC9-AE26-DE8111275BF8} </string>
            <string>IVirtualDesktop2,{31EBDE3F-6EC3-4CBD-B9FB-0EF6D09B41F4} </string>
            <string>IVirtualDesktopManager,{A5CD92FF-29BE-454C-8D04-D82879FB3F1B} </string>
            <string>IVirtualDesktopManagerInternal,{B2F925B9-5A0F-4D2E-9F4D-2B1507593C10} </string>
            <string>IVirtualDesktopManagerInternal2,{0F3A72B0-4566-487E-9A33-4ED302F6D6CE} </string>
            <string>IVirtualDesktopNotification,{CD403E52-DEED-4C13-B437-B98380F2B1E8} </string>
            <string>IVirtualDesktopNotification2,{1BA7CF30-3591-43FA-ABFA-4AAF7ABEEDB7} </string>
            <string>IVirtualDesktopNotificationService,{0CD45E71-D927-4F15-8B0A-8FEF525337BF} </string>
            <string>IVirtualDesktopPinnedApps,{4CE81583-1E4C-4632-A621-07A53543148F} </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="v_18975" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>IApplicationView,{871F602A-2B58-42B4-8C4B-6C43D642C06F}</string>
            <string>IApplicationViewCollection,{2C08ADF0-A386-4B35-9250-0FE183476FCC} </string>
            <string>IObjectArray,{92CA9DCD-5622-4BBA-A805-5E9F541BD8C9} </string>
            <string>IServiceProvider,{6D5140C1-7436-11CE-8034-00AA006009FA} </string>
            <string>IVirtualDesktop,{FF72FFDD-BE7E-43FC-9C03-AD81681E88E4} </string>
            <string>IVirtualDesktop2,{31EBDE3F-6EC3-4CBD-B9FB-0EF6D09B41F4} </string>
            <string>IVirtualDesktopManager,{A5CD92FF-29BE-454C-8D04-D82879FB3F1B} </string>
            <string>IVirtualDesktopManagerInternal,{F31574D6-B682-4CDC-BD56-1827860ABEC6} </string>
            <string>IVirtualDesktopManagerInternal2,{0F3A72B0-4566-487E-9A33-4ED302F6D6CE} </string>
            <string>IVirtualDesktopNotification,{C179334C-4295-40D3-BEA1-C654D965605A} </string>
            <string>IVirtualDesktopNotification2,{1BA7CF30-3591-43FA-ABFA-4AAF7ABEEDB7} </string>
            <string>IVirtualDesktopNotificationService,{0CD45E71-D927-4F15-8B0A-8FEF525337BF} </string>
            <string>IVirtualDesktopPinnedApps,{4CE81583-1E4C-4632-A621-07A53543148F} </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="v_17134" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>IApplicationView,{871F602A-2B58-42B4-8C4B-6C43D642C06F}</string>
            <string>IApplicationViewCollection,{2C08ADF0-A386-4B35-9250-0FE183476FCC} </string>
            <string>IObjectArray,{92CA9DCD-5622-4BBA-A805-5E9F541BD8C9} </string>
            <string>IServiceProvider,{6D5140C1-7436-11CE-8034-00AA006009FA} </string>
            <string>IVirtualDesktop,{FF72FFDD-BE7E-43FC-9C03-AD81681E88E4} </string>
            <string>IVirtualDesktopManager,{A5CD92FF-29BE-454C-8D04-D82879FB3F1B} </string>
            <string>IVirtualDesktopManagerInternal,{F31574D6-B682-4CDC-BD56-1827860ABEC6} </string>
            <string>IVirtualDesktopNotification,{C179334C-4295-40D3-BEA1-C654D965605A} </string>
            <string>IVirtualDesktopNotificationService,{0CD45E71-D927-4F15-8B0A-8FEF525337BF} </string>
            <string>IVirtualDesktopPinnedApps,{4CE81583-1E4C-4632-A621-07A53543148F} </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="v_16299" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>IApplicationView,{9AC0B5C8-1484-4C5B-9533-4134A0F97CEA} </string>
            <string>IApplicationViewCollection,{2C08ADF0-A386-4B35-9250-0FE183476FCC} </string>
            <string>IObjectArray,{92CA9DCD-5622-4BBA-A805-5E9F541BD8C9} </string>
            <string>IServiceProvider,{6D5140C1-7436-11CE-8034-00AA006009FA} </string>
            <string>IVirtualDesktop,{FF72FFDD-BE7E-43FC-9C03-AD81681E88E4} </string>
            <string>IVirtualDesktopManager,{A5CD92FF-29BE-454C-8D04-D82879FB3F1B} </string>
            <string>IVirtualDesktopManagerInternal,{F31574D6-B682-4CDC-BD56-1827860ABEC6} </string>
            <string>IVirtualDesktopNotification,{C179334C-4295-40D3-BEA1-C654D965605A} </string>
            <string>IVirtualDesktopNotificationService,{0CD45E71-D927-4F15-8B0A-8FEF525337BF} </string>
            <string>IVirtualDesktopPinnedApps,{4CE81583-1E4C-4632-A621-07A53543148F} </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="v_22621_3085_or_later" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>IApplicationView,{372E1D3B-38D3-42E4-A15B-8AB2B178F513}</string>
            <string>IApplicationViewCollection,{1841C6D7-4F9D-42C0-AF41-8747538F10E5} </string>
            <string>IObjectArray,{92CA9DCD-5622-4BBA-A805-5E9F541BD8C9} </string>
            <string>IServiceProvider,{6D5140C1-7436-11CE-8034-00AA006009FA} </string>
            <string>IVirtualDesktop,{3F07F4BE-B107-441A-AF0F-39D82529072C} </string>
            <string>IVirtualDesktop2,{A871910E-6CC0-4E65-8B9B-458CE9115E30} </string>
            <string>IVirtualDesktopManager,{A5CD92FF-29BE-454C-8D04-D82879FB3F1B} </string>
            <string>IVirtualDesktopManagerInternal,{4970BA3D-FD4E-4647-BEA3-D89076EF4B9C} </string>
            <string>IVirtualDesktopManagerInternal2,{53F5CA0B-158F-4124-900C-057158060B27} </string>
            <string>IVirtualDesktopNotification,{B9E5E94D-233E-49AB-AF5C-2B4541C3AADE} </string>
            <string>IVirtualDesktopNotificationService,{0CD45E71-D927-4F15-8B0A-8FEF525337BF} </string>
            <string>IVirtualDesktopPinnedApps,{4CE81583-1E4C-4632-A621-07A53543148F} </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="v_22621_or_later" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>IApplicationView,{372E1D3B-38D3-42E4-A15B-8AB2B178F513}</string>
            <string>IApplicationViewCollection,{1841C6D7-4F9D-42C0-AF41-8747538F10E5} </string>
            <string>IObjectArray,{92CA9DCD-5622-4BBA-A805-5E9F541BD8C9} </string>
            <string>IServiceProvider,{6D5140C1-7436-11CE-8034-00AA006009FA} </string>
            <string>IVirtualDesktop,{3F07F4BE-B107-441A-AF0F-39D82529072C} </string>
            <string>IVirtualDesktop2,{A871910E-6CC0-4E65-8B9B-458CE9115E30} </string>
            <string>IVirtualDesktopManager,{A5CD92FF-29BE-454C-8D04-D82879FB3F1B} </string>
            <string>IVirtualDesktopManagerInternal,{4970BA3D-FD4E-4647-BEA3-D89076EF4B9C} </string>
            <string>IVirtualDesktopManagerInternal2,{A3175F2D-239C-4BD2-8AA0-EEBA8B0B138E} </string>
            <string>IVirtualDesktopNotification,{B287FA1C-7771-471A-A2DF-9B6B21F0D675} </string>
            <string>IVirtualDesktopNotificationService,{0CD45E71-D927-4F15-8B0A-8FEF525337BF} </string>
            <string>IVirtualDesktopPinnedApps,{4CE81583-1E4C-4632-A621-07A53543148F} </string>
          </ArrayOfString>
        </value>
      </setting>
    </WindowsDesktop.Properties.Settings>
  </applicationSettings>
</configuration>
