<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <comment>
    <!-- Lock a setting by adding atribute lock="true" -->
    <!-- <add key="example" value="lockedvalue" lock="true" /> -->
  </comment>
  <appSettings>
    <add key="block_config_save" value="False" />
    <add key="showframe" value="True" />
    <add key="brightness" value="0" />
    <add key="contrast" value="0" />
    <add key="hue" value="0" />
    <add key="saturation" value="1" />
    <add key="red" value="0" />
    <add key="green" value="0" />
    <add key="blue" value="0" />
    <add key="delay" value="200" />
    <add key="slidetime" value="10" />
    <add key="opv" value="False" />
    <add key="scale" value="True" />
    <add key="filename" value="True" />
    <add key="date" value="True" />
    <add key="time" value="False" />
    <add key="info" value="False" />
    <add key="version" value="v1.18.1.0" />
    <add key="rememberbg" value="True" />
    <add key="rememberposition" value="False" />
    <add key="remembersize" value="False" />
    <add key="gamma" value="1" />
    <add key="negative" value="1" />
    <add key="temperature" value="0" />
    <add key="tint" value="0" />
    <add key="gifreplay" value="False" />
    <add key="autohideframe" value="False" />
    <add key="rememberfullscreen" value="False" />
    <add key="fullscreen" value="False" />
    <add key="alwaysontop" value="False" />
    <add key="slidezoom" value="False" />
    <add key="dimensions" value="False" />
    <add key="filesize" value="False" />
    <add key="loopslide" value="True" />
    <add key="random_slide" value="False" />
    <add key="loop" value="True" />
    <add key="fitwindow" value="False" />
    <add key="darkmode" value="True" />
    <add key="darkmenu" value="True" />
    <add key="swipetime" value="250" />
    <add key="wheelstep" value="0" note="-1 reversed, 0 no, 1 forward" />
    <add key="stretch" value="0" note="0 AUTO, 1 STRETCH" />
    <add key="erasersize" value="30;30" />
    <add key="scalingthreshold" value="400" note="zoomlevel when BitmapScalingMode is set to NearestNeighbor" />
    <add key="exit_by_escape" value="False" />
    <add key="border_color" value="#FF272727" />
    <add key="block_crop_menu" value="True" />
    <add key="refresh_image_if_edited" value="False" />
    <add key="save_dialog_disable" value="False" />
    <add key="shell32_sort_disable" value="True" />
    <add key="window_style_default" value="False" />
    <add key="corner_radius" value="8" />
    <add key="jpeg_quality" value="75" />
    <add key="slideshow_start" value="False" note="Start slideshow automatically at image open" />
    <add key="subfolders_at_folder_open" value="False" note="Include subfolders when a folder is opend (don't affect single image opening)" />
    <add key="default_save_format" value=".png" note="set to .png, .jpg or .tif" />
    <add key="showtoolbar" value="True" note="Pro version only" />
    <add key="toolbar_items_visibility" value="True;True;True;True;True;True;True;True;True;True;True;True;True;True;True;True;True;True;True;True;True" note="Pro version only" />
    <add key="showthumbnails" value="True" note="Pro version only" />
    <add key="autohidethumbnails" value="False" note="Pro version only" />
    <add key="thumbnailwidth" value="180" note="Pro version only" />
    <add key="background" value="Black" />
  </appSettings>
</configuration>
